html{
    box-sizing: border-box;
}
html,
body {
	height: 100%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
button,
input{
    outline: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $text;
}
ul, 
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    overflow-x: hidden;
    background-color: #fff;
    @include f500;
}
label{
    cursor: pointer;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.display-none{
    display: none;
}
.far_btn{
    background-color: $bg;
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    padding: 18px;
    @include f700;
    color: #000;
    border: none;
    cursor: pointer;
}

.jq-radio{
    width: 18px;
    height: 18px;
    border: 1px solid $bg;
    background: transparent;
}
.jq-radio.checked .jq-radio__div{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
background: $bg;
box-shadow: none;
}
.thanks__bg_all{
    background-color: $bg;
    // background-color: #030303;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    position: relative;
    z-index: 1;
}
.dispaly-none{
    display: none !important;
}
.test__items_info_placement{
    .text-transform{
        @include f500;
        text-decoration: underline;
        font-style: italic;
    }
}
.color_text_yellow{
    font-size: 23px;
}
.some-form__line-required{
    border: 1px solid red;
}
.collumn{
    flex-direction: column;
}
.text-decor-underline{
    display: inline;
    text-decoration: underline;
}