$bg: #FCCA35;
$text: #000;


@mixin f400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@mixin f500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@mixin f600 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@mixin f700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-weight: bold;
}

@mixin f800 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

@mixin f900 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}